



<div ng-controller="HomeCtrl" id="bodysectionid" ng-init="initIndex()" class="m-Home">
    <div class="baner">
        <ul>
            <li><a href="javacript:void(0)"><img src="img/设计图/baner.jpg"></a></li>
        </ul>
    </div>
    <div class="m-Body">
        <div class="b-Content">
            <div class="menu">
                <ul>
                    <li ng-repeat="category in categories"><a class="nav-Link" ng-class="{'nav-Link-Choose':$index == selectedIndex}" ng-click="changeCategory(category,$index)" href="">{{category}}</a></li>
                </ul>
                <a class="linkMore" ng-click="loadingMore()" href="">更多 +</a>
            </div>
            <div class="main">
                <div class="notes-List1">
                    <div class="notes" ng-repeat="rarticle in currentArticles.oneCol">
                        <div class="relation">{{rarticle.get('relationship').get('name')}}</div>
                        <div class="contentPicture"><img ng-click="ArticleClicked(rarticle)" src="{{rarticle.get('background').url()}}"></div>
                        <p class="notes-Title"><a ng-href=" articles/{{rarticle.getObjectId()}}">{{rarticle.get('title')}}</a></p>
                        <div class="notes-Intro">
                            <ul>
                                <li ng-show="hasNickName" class="notes-Intro-Name">{{rarticle.get('authorinformation').get('nickname')}}</li>
                                <li>{{rarticle.startDate}}</li>
                                <li>{{rarticle.get('duration')}}Days</li>
                                <li><img class="notes-Intro-CountImg" src="../img/设计图/eyes.png"></li>
                                <li class="notes-Intro-Count">888</li>
                            </ul>
                        </div>
                        <img class="headPortrait" ng-show="rarticle.hasAvatar" src="{{rarticle.get('authorinformation').get('headImage').url()}}">
                    </div>
                </div>
                <div class="notes-List2">
                    <div class="notes" ng-repeat="rarticle in currentArticles.twoCol">
                        <div class="relation">{{rarticle.get('relationship').get('name')}}</div>
                        <div class="contentPicture"><img ng-click="ArticleClicked(rarticle)" src="{{rarticle.get('background').url()}}"></div>
                        <p class="notes-Title"><a ng-href=" articles/{{rarticle.getObjectId()}}">{{rarticle.get('title')}}</a></p>
                        <div class="notes-Intro">
                            <ul>
                                <li ng-show="rarticle.hasNickName" class="notes-Intro-Name">{{rarticle.get('authorinformation').get('nickname')}}</li>
                                <li>{{rarticle.startDate}}</li>
                                <li>{{rarticle.get('duration')}}Days</li>
                                <li><img class="notes-Intro-CountImg" src="../img/设计图/eyes.png"></li>
                                <li class="notes-Intro-Count">888</li>
                            </ul>
                        </div>
                        <img class="headPortrait" ng-show="rarticle.hasAvatar" src="{{rarticle.get('authorinformation').get('headImage').url()}}">
                    </div>
                </div>
                <div class="notes-List3">
                    <div class="notes" ng-repeat="rarticle in currentArticles.threeCol">
                        <div class="relation">{{rarticle.get('relationship').get('name')}}</div>
                        <div class="contentPicture"><img ng-click="ArticleClicked(rarticle)" src="{{rarticle.get('background').url()}}"></div>
                        <p class="notes-Title"><a ng-href=" articles/{{rarticle.getObjectId()}}">{{rarticle.get('title')}}</a></p>
                        <div class="notes-Intro">
                            <ul>
                                <li ng-show="rarticle.hasNickName" class="notes-Intro-Name">{{rarticle.get('authorinformation').get('nickname')}}</li>
                                <li>{{rarticle.startDate}}</li>
                                <li>{{rarticle.get('duration')}}Days</li>
                                <li><img class="notes-Intro-CountImg" src="../img/设计图/eyes.png"></li>
                                <li class="notes-Intro-Count">888</li>
                            </ul>
                        </div>
                        <img class="headPortrait" ng-show="rarticle.hasAvatar" src="{{rarticle.get('authorinformation').get('headImage').url()}}">
                    </div>
                </div>
            </div>
            <div class="active">
                <div class="active-Title">
                    <p>活动推荐</p>
                    <a href="javascript:void(0)">更多 +</a>
                </div>
                <div class="active-List">
                    <div class="active1"><img src="img/设计图/view2.jpg"></div>
                    <div class="active2"><img src="img/设计图/view2.jpg"></div>
                    <div class="active3"><img src="img/设计图/view2.jpg"></div>
                    <div class="active4"><img src="img/设计图/view2.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
