.m-ContactUs .m-Body{
    width: 100%;
}
.m-ContactUs .main{
    width: 829px;
    height: 100%;
    margin: 0px auto 69px;
}
.m-ContactUs .contact{
    font-size: 4.5em;
    color: #95c66a;
    margin: 75px 0px 52px;
}
.m-ContactUs .main img{
    height: 37px;
    width: 37px;
    margin-bottom: 10px;
}
.m-ContactUs .title{
    font-size: 1.5em;
    color: #95c66a;
}
.m-ContactUs .contactInformation{
    font-size: 1.2em;
    margin: 13px 0px;
}