*{
    margin: 0;
    padding: 0;
}

.m-edit{
    margin-top: 58px;
    width: 100%;
    margin-bottom: 101px;
}
.m-edit .nav{
    width: 100%;
    background-size: 100%;
    margin-bottom: 35px;
}
.m-edit .nav .navBackgroundImage{
    width: 100%;
    height: 71px;
    position: relative;
}
.m-edit .navPosition{
    width: 100%;
    position: absolute;
    top: 58px;
}
.m-edit .navContent{
    margin: auto;
    height: 100%;
    width: 620px;
}
.m-edit .navContent div{
    float: left;
    margin-top: 15px;
    margin-right: 40px;
}
.m-edit .navContent a:link{
    line-height: 43px;
    margin-left: 13px;
    text-decoration: none;
    color: black;
}
.m-edit .createNote{
    line-height: 43px;

}
.m-edit .createNote img{
    width: 40px;
    float: left;
}
.m-edit .basicInformation img{
    width: 40px;
    float: left;
}
.m-edit .editNote img{
    width: 40px;
    float: left;
}
.m-edit .saveAndCancel img{
    width: 60px;
    margin-top: 7px;
}
.m-edit .navContent .saveAndCancel{
    margin-right: 0;
}
.m-edit .makesure{
    margin-right: 13px;
}
.m-edit .creat{
    /*display: none;*/
}
.m-edit .title,
.m-edit .subTitle{
    margin: auto;
    width: 400px;
}
.m-edit .subTitle{
    margin-top: 27px;
    margin-bottom: 33px;
}
.m-edit .title input,
.m-edit .subTitle input{
    width: 400px;
    height: 29px;
    outline: none;
    border: 1px solid #c8c8c8;
    padding-left: 10px;
}
.m-edit .cropArea,
.m-edit .outputArea{
    width: 640px;
    height: 320px;
    margin: auto;
    border: 1px solid #c8c8c8;
}
.m-edit .picBtn{
    text-align: center;
}
.m-edit .file{
    width: 121px;
    height: 40px;
    margin: 33px 5px 13px;
    display: inline-block;
}
.m-edit .file p{
    width: 121px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #6eb82d;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.m-edit .file input{
    width: 121px;
    height: 40px;
    position: absolute;
    z-index: 2;
    filter: Alpha(opacity=0);
    opacity:0;
}
.m-edit .creat .next{
    width: 121px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #6eb82d;
    border-radius: 5px;
    margin: auto;
}
.m-edit .articleInformation{
    text-align: center;
}
.m-edit .articleInformation .relationChoose{
    width: 130px;
    height: 26px;
    border-radius: 0px;
    outline: none;
    padding-left: 8px;
    background-color: #f9f9f9;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance:none;

}
.m-edit .date input{
    width: 120px;
    height: 24px;
    outline: none;
    border: 1px solid rgb(166, 166, 166);
    padding-left: 8px;
    background-color: #f9f9f9;
}
::-webkit-inner-spin-button { visibility: hidden; }
.m-edit .time input,
.m-edit .destination input{
    width: 120px;
    height: 24px;
    outline: none;
    border: 1px solid rgb(166, 166, 166);
    padding-left: 8px;
    background-color: #f9f9f9;
}
.m-edit .articleInformation div{
    margin-bottom: 26px;
}
.m-edit .articleInformation label{
    margin-right: 60px;
}
.m-edit .articleInformation .destination label{
    margin-right: 73px;
}
.m-edit .articleInformation .next{
    width: 121px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #6eb82d;
    border-radius: 5px;
    margin: 80px auto;
}
.m-edit .editNoteContent .introTitle{
    text-align: center;
}
.m-edit .editNoteContent .hrLeft{
    margin-right: 65px;
    width: 130px;
}
.m-edit .editNoteContent .hrRight{
    width: 130px;
}
.m-edit .editNoteContent .introTitle p{
    font-size: 1.4em;
    position: relative;
    top: -12px;
}
.m-edit .editNoteContent .introInput{
    text-align: center;
    width: 365px;
    margin:auto;
}
.m-edit .editNoteContent .introInput textarea{
    width: 361px;
    height: 133px;
    font-size: 1.4em;
    padding: 5px;
}
.m-edit .editNoteContent .introShow{
    width: 375px;
    height: 147px;
    margin: auto;
    text-align: left;
}
.m-edit .editNoteContent .editNoteContentForm{
    text-align: center;
    width: 365px;
    margin: auto;
}
.m-edit .editNoteContent .editNoteContentForm .addContentOptian{
    position: relative;
}
.m-edit .editNoteContent .sectionTitle,
.m-edit .editNoteContent .paragraphTitle{
    width: 361px;
    height: 31px;
}
.m-edit .editNoteContent .deleteBtn{
    position: absolute;
    right: -50px;
    top: 8px;
}
.m-edit .editNoteContent .sectionTitleShow,
.m-edit .editNoteContent .paragraphTitleShow{
    width: 375px;
    height: 45px;
}
.m-edit .editNoteContent input{
    outline: none;
    padding: 5px;
}
.m-edit .editNoteContent .paragraphContent{
    width: 361px;
    height: 82px;
}
.m-edit .editNoteContent .paragraphContentShow{
    width: 375px;
    height: 96px;
}
.m-edit .editNoteContent .notePartBtn,
.m-edit .editNoteContent .addNotePartBtn,
.m-edit .editNoteContent .sectionTitleBtn,
.m-edit .editNoteContent .paragraphTitleBtn,
.m-edit .editNoteContent .paragraphContentBtn,
.m-edit .editNoteContent .picBtn{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 15px auto;
}
.m-edit .editNoteContent .notePartBtn{
    background: url("../img/编辑后台标注切图/编辑游记/－1按下.png") no-repeat center top;
    background-size: 100%;
}
.m-edit .editNoteContent .addNotePartBtn{
    background: url("../img/编辑后台标注切图/编辑游记/＋1按下.png") no-repeat center top;
    background-size: 100%;
}
.m-edit .editNoteContent .sectionTitleBtn{
    background: url("../img/编辑后台标注切图/编辑游记/添加章节.png") no-repeat center top;
    background-size: 100%;
}
.m-edit .editNoteContent .sectionTitleBtn:hover{
    background: url("../img/编辑后台标注切图/编辑游记/添加章节－按下.png") no-repeat center top;
}
.m-edit .editNoteContent .paragraphTitleBtn{
    background: url("../img/编辑后台标注切图/编辑游记/添加段落.png") no-repeat center top;
    background-size: 100%;
}
.m-edit .editNoteContent .paragraphTitleBtn:hover{
    background: url("../img/编辑后台标注切图/编辑游记/添加段落－按下.png") no-repeat center top;
}
.m-edit .editNoteContent .paragraphContentBtn{
    background: url("../img/编辑后台标注切图/编辑游记/添加文字.png") no-repeat center top;
    background-size: 100%;
}
.m-edit .editNoteContent .paragraphContentBtn:hover{
    background: url("../img/编辑后台标注切图/编辑游记/添加文字－按下.png") no-repeat center top;
}
.m-edit .editNoteContent .picBtn{
    background: url("../img/编辑后台标注切图/编辑游记/添加照片.png") no-repeat center top;
    background-size: 100%;
}
.m-edit .editNoteContent .picBtn:hover{
    background: url("../img/编辑后台标注切图/编辑游记/添加照片－按下.png") no-repeat center top;
}
.m-edit .editNoteContent .addBtnDiv{
    width: 365px;
    margin: auto;
    text-align: left;
}
.m-edit .editNoteContent .addBtnDiv div{
    display: inline-block;
    margin-left: 10px;
}
.m-edit .editNoteContent .addBtnDiv .sectionTitleBtn,
.m-edit .editNoteContent .addBtnDiv .notePartBtn,
.m-edit .editNoteContent .addBtnDiv .addNotePartBtn{
    margin-left: 0;
}


