*{
    margin: 0;
    padding: 0;
}
.m-edit{
    width: 100%;
    margin-bottom: 101px;
}
.m-edit .nav{
    width: 100%;
    background-size: 100%;
}
.m-edit .nav .navBackgroundImage{
    height: 71px;
    position: relative;
}
.m-edit .navPosition{
    width: 100%;
    position: absolute;
    top: 0;
}
.m-edit .navContent{
    margin: auto;
    height: 100%;
    width: 620px;
}
.m-edit .navContent div{
    float: left;
    margin-top: 15px;
    margin-right: 40px;
}
.m-edit .navContent a:link{
    line-height: 43px;
    margin-left: 13px;
    text-decoration: none;
    color: black;
}
.m-edit .createNote{
    line-height: 43px;

}
.m-edit .createNote img{
    width: 40px;
    float: left;
}
.m-edit .basicInformation img{
    width: 40px;
    float: left;
}
.m-edit .editNote img{
    width: 40px;
    float: left;
}
.m-edit .saveAndCancel img{
    width: 60px;
    margin-top: 7px;
}
.m-edit .navContent .saveAndCancel{
    margin-right: 0;
}
.m-edit .makesure{
    margin-right: 13px;
}
.m-edit .title,
.m-edit .subTitle{
    margin: auto;
    width: 400px;
}
.m-edit .title{
    margin-top: 35px;
}
.m-edit .subTitle{
    margin-top: 27px;
    margin-bottom: 33px;
}
.m-edit .title input,
.m-edit .subTitle input{
    width: 400px;
    height: 29px;
    outline: none;
    border: 1px solid #c8c8c8;
    padding-left: 10px;
}
.m-edit .cropArea,
.m-edit .outputArea{
    width: 640px;
    height: 320px;
    margin: auto;
    border: 1px solid #c8c8c8;
}
.m-edit .file{
    width: 121px;
    height: 40px;
    margin: 33px auto 13px;
}
.m-edit .file p{
    width: 121px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #6eb82d;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.m-edit .file input{
    width: 121px;
    height: 40px;
    position: absolute;
    z-index: 2;
    filter: Alpha(opacity=0);
    opacity:0;
}
.m-edit .next{
    width: 121px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #6eb82d;
    border-radius: 5px;
    margin: auto;
}