<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>觅游抽奖活动</title>
    <link type="text/css" rel="stylesheet" href="抽奖.css">
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
    <div class="content" ng-app="myApp" ng-controller="myCtrl">
        <!--<img class="backgroundImg" src="img/背景.jpg">-->
        <div class="main">
            <div class="formDiv">
                <div class="phoneNumberInputDiv">
                    <input ng-model="phoneNumber" type="text" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" name="phoneNumber" placeholder="请输入手机号">
                    <img src="img/矩形-24.png">
                </div>
                <div class="drawBtnDiv" ng-click="draw()"></div>
            </div>
            <div class="award">
                <img src="img/活动奖品.png">
                <ul>
                    <li>一等奖：价值2988元的Apple Watch 一只</li>
                    <li>二等奖：价值400元的拍立得3台</li>
                    <li>三等奖：价值79元的小米手环10个</li>
                </ul>
            </div>
            <div class="join">
                <img src="img/参与方式.png">
                <ul>
                    <li>1.在应用商店下载安装觅游并注册觅游账号</li>
                    <li>2.点击首页轮播banner中“参与活动”输入手机号码，即可参与活动。</li>
                </ul>
            </div>
            <div class="attention">
                <img src="img/注意事项.png">
                <ul>
                    <li>1.每个手机用户现限参与一次；</li>
                    <li>2.获奖名单在活动结束5个工作日之内在官网微博（觅游Meetyou）和微信（Meetyou）进行公布。</li>
                    <li>3.活动结束后5个工作日之内客户将与中奖用户取得联系，如果有疑问，请联系QQ：2879903822</li>
                    <li>4.本活动最终解释权归北京爱觅游科技有限公司所有。</li>
                </ul>
            </div>
        </div>
        <!--登录提示框-->
        <div class="loginWarningBody" ng-show="loginShow">
            <div class="loginWarning">
                <div class="loginMakeSure" ng-click="Login()"></div>
                <div class="loginCancel" ng-click="cancelLogin()"></div>
            </div>
        </div>
        <!--抽奖成功提示框-->
        <div class="drawSuccessBody" ng-show="drawSuccess">
            <div class="drawSuccess">
                <div class="drawSuccessBtn" ng-click="success()"></div>
            </div>
        </div>
    </div>
    <script src="抽奖.js"></script>
</body>
</html>