<div class="m-personalPage" id="personalPageId" ng-controller="PersonalPageCtrl" ng-init="initIndex()">
    <div class="body">
        <div class="content">
            <div class="personalInformation">
                <div class="headPortrait">
                    <img ng-src="{{userInformation.get('headImage').url()}}">
                </div>
                <p class="name">{{userInformation.get('nickname')}}</p>
                <p class="sign">{{userInformation.get('userDesc')}}</p>
                <hr>
                <button class="foucs" name="foucs">关注</button>
                <p class="fans">喜欢<span class="fans-Count">888</span></p>
            </div>
            <div class="main">
                <div class="nav">
                    <a class="notesLink" href="javascript:void(0)">游记</a>
                </div>
                <div class="notes" ng-repeat="rarticle in articles">
                    <div class="surfacePlotDiv">
                        <img class="surfacePlot" ng-click="ArticleClicked(rarticle)" ng-src="{{rarticle.get('background').url()}}">
                    </div>
                    <div class="intro">
                        <ul>
                            <li class="relationShip">{{rarticle.get('relationshipstring')}}</li>
                            <li class="place">{{rarticle.get('destination')}}</li>
                            <li>{{rarticle.startDate}}</li>
                            <li>{{rarticle.get('duration')}}Days</li>
                        </ul>
                    </div>
                    <div class="textPart">
                        <p class="title"><a ng-href="articles/{{rarticle.getObjectId()}}">{{rarticle.get('title')}}</a> </p>
                        <p class="descript">{{rarticle.get('intro')}}</p>
                    </div>
                </div>
            </div>
            <div class="loadingMore">
                <button class="btn-LoadingMore" ng-show="showLoadMore" ng-click="loadMore()">加载更多</button>
                <button class="btn-LoadingMore" ng-show="showEnd">看完了^o^</button>
            </div>
        </div>
    </div>
</div>
