
    <div class="m-CollectionList" ng-controller="CollectionsListCtrl" ng-init="initIndex()">
        <div class="b-Content">
            <div class="menu">
                <ul>
                    <div class="nav-Link-Div" ng-class="{'nav-Link-Div-Choose':$index == selectedIndex}" ng-repeat="category in categories">
                        <li ><a class="nav-Link" ng-click="changeCategory(category,$index)" href="">{{category}}</a></li>
                    </div>
                </ul>
            </div>
            <hr>
            <div class="main">
                <div class="notesList1">
                    <div class="notes" ng-repeat="rcollection in rcollectionsOneCol">
                        <img ng-click="CollectionClicked(rcollection)" class="contentPicture" src="{{rcollection.get('background').url()}}">
                    </div>
                </div>
                <div class="notesList2">
                    <div class="notes" ng-repeat="rcollection in rcollectionsTwoCol">
                        <img ng-click="CollectionClicked(rcollection)" class="contentPicture" src="{{rcollection.get('background').url()}}">
                    </div>
                </div>
            </div>
            <div class="loadingMore">
                <button class="btn-LoadingMore" ng-show="showLoadMore" ng-click="loadMore()">加载更多</button>
                <button class="btn-LoadingMore" ng-show="showEnd">看完了^o^</button>
            </div>
        </div>
    </div>


