<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>觅游旅行-精品旅游游记攻略分享网站</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/home.css">
</head>
<body>
	<div class="top">
		<div class="t-Content">
			<a href="javascript:void(0)"><img class="t-Logo" src="../../asset/logo/觅游logo.png" alt="觅游logo"></a>
			<div class="t-Menu1">
				<a href="javascript:void(0)">精选专题</a>
				<a href="javascript:void(0)">觅客社区</a>
				<a href="javascript:void(0)">客户端下载</a>
			</div>
			<div class="t-Menu2">
				<input class="t-Search" type="text" name="search" placeholder="    搜索游记/攻略">
				<a href="javacript:void(0)">注册</a>
				<span>|</span>
				<a href="javacript:void(0)">登录</a>
			</div> 
		</div>
	</div>
	<div class="baner">
		<ul>
			<li><a href="javacript:void(0)"><img src="../../asset/设计图/baner.jpg"></a></li>
		</ul>
	</div>
</body>
</html>