<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>觅游旅行-精品旅游游记攻略分享网站</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/home.css">
</head>
<body>
	<div class="m-Header">
		<div class="h-Content">
			<a href="javascript:void(0)"><img class="meetYouLogo" src="../../asset/logo/觅游logo.png" alt="觅游logo"></a>
			<div class="nav">
				<a href="javascript:void(0)">精选专题</a>
				<a href="javascript:void(0)">觅客社区</a>
				<a href="javascript:void(0)">客户端下载</a>
			</div>
			<div class="loginBar">
				<div class="search">
					<input type="text" name="search" placeholder="搜索游记/攻略">
				</div>
				<a href="javacript:void(0)">注册</a>
				<span>|</span>
				<a href="javacript:void(0)">登录</a>
			</div>
		</div>
	</div>
	<div class="baner">
		<ul>
			<li><a href="javacript:void(0)"><img src="../../asset/设计图/baner.jpg"></a></li>
		</ul>
	</div>
	<div class="m-Body">
		<div class="b-Content">
			<div class="menu">
				<ul>
					<li><a href="javacript:void(0)">全部</a></li>
					<li><a href="javacript:void(0)">家庭</a></li>
					<li><a href="javacript:void(0)">亲子</a></li>
					<li><a href="javacript:void(0)">蜜月</a></li>
					<li><a href="javacript:void(0)">情侣</a></li>
					<li><a href="javacript:void(0)">基友</a></li>
					<li><a href="javacript:void(0)">闺蜜</a></li>
					<li><a href="javacript:void(0)">独行</a></li>
					<li><a href="javacript:void(0)">偶遇</a></li>
				</ul>
				<a class="linkMore" href="javacript:void(0)">更多 +</a>
			</div>
			<div class="main">
				<div class="notes-List1">
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
					<br>
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
					<br>
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
				</div>
				<div class="notes-List2">
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
					<br>
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
					<br>
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
				</div>
				<div class="notes-List3">
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
					<br>
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
					<br>
					<div class="notes">
						<img class="tabPicture" src="../../asset/设计图/蜜月.jpg">
						<img class="contentPicture" src="../../asset/设计图/view.jpg">
						<p class="notes-Title"><a href="javacript:void(0)">觅游</a></p>
						<p class="notes-Intro">觅游旅行</p>
					</div>
				</div>
			</div>
			<div class="active">
				<div class="active-Title">
					<p>活动推荐</p>
					<a href="javascript:void(0)">更多 +</a>
				</div>
				<div class="active-List">
					<div class="active1"><img src="../../asset/设计图/view2.jpg"></div>
					<div class="active2"><img src="../../asset/设计图/view2.jpg"></div>
					<div class="active3"><img src="../../asset/设计图/view2.jpg"></div>
					<div class="active4"><img src="../../asset/设计图/view2.jpg"></div>
				</div>
			</div>	
		</div>
	</div>
	<div class="m-Footer">
		<div class="footer-Service">
			<div class="service">
				<ul>
					<li><a href="javacript:void(0)">关于我们</a></li>
					<li><a href="javacript:void(0)">免责条款</a></li>
					<li><a href="javacript:void(0)">加入我们</a></li>
					<li><a href="javacript:void(0)">联系我们</a></li>
				</ul>
				<img class="footer-MeetYouLogo" src="../../asset/logo/觅游logo.png">
			</div>
			<div class="touch">
				<img src="../../asset/logo/微信.png" alt="微信">
				<img src="../../asset/logo/微博.png" alt="微博">
				<img src="../../asset/logo/QQ.png" alt="QQ">
				<img src="../../asset/logo/豆瓣.png" alt="豆瓣">
				<p>©2015 MeetYou.cn  京ICP证备 12051592号-1</p>
			</div>
		</div>
		<div class="footer-Partner">
			<div class="partnerContent">
				<p class="partnerTitle">合作伙伴</p>
				<div class="partnerList">
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
					<p>合作伙伴</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>