<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>觅客社区</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/personalUnregistered.css"
</head>
<body>
    <div class="top">
        <div class="t-Content">
            <a href="javascript:void(0)"><img class="t-C-Logo" src="../../asset/logo/觅游logo.png" alt="觅游logo"></a>
            <div class="t-C-Menu1">
                <a href="javascript:void(0)">精选专题</a>
                <a href="javascript:void(0)">觅客社区</a>
                <a href="javascript:void(0)">客户端下载</a>
            </div>
            <div class="t-C-Menu2">
                <div class="t-C-M2-Search">
                    <input type="text" name="search" placeholder="搜索游记/攻略">
                </div>
                <a href="javacript:void(0)">注册</a>
                <span>|</span>
                <a href="javacript:void(0)">登录</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="b-content">
            <div class="b-C-PersonalInformation">
                <div class="b-C-P-Photo">
                    <img src="../../asset/设计图/view2.jpg">
                </div>
                <p class="b-C-P-Name">皮蛋豆腐</p>
                <p class="b-C-P-Sign">皮蛋撞豆腐</p>
                <hr>
                <button class="b-C-Foucs" name="foucs">关注</button>
                <p class="b-C-P-Fans">喜欢<span class="fans-Count">888</span></p>
            </div>
            <div class="b-C-Travel">
                <div class="navigation">
                    <a class="n-TravelNotes" href="javascript:void(0)">游记</a>
                    <a class="n-Collection" href="javascript:void(0)">收藏</a>
                </div>
                <div class="details">
                    <div class="d-TravelNotesImgDiv">
                        <img class="d-TravelNotesImg" src="../../asset/设计图/view2.jpg">
                    </div>
                    <div class="d-TravellerMessage">
                        <img class="d-T-TypeImg" src="../../asset/设计图/亲子.jpg">
                        <ul>
                            <li class="d-T-Place">place</li>
                            <li>date</li>
                            <li>time</li>
                            <li><img class="d-T-Eyes" src="../../asset/设计图/eyes.png"> </li>
                            <li class="d-T-ViewCount">count</li>
                        </ul>
                    </div>
                    <div class="d-Describe">
                        <p class="d-D-Title"><a href="javascript:void(0)">title</a> </p>
                        <p class="d-D-Describe">觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游</p>
                    </div>
                </div>
                <div class="details">
                    <div class="d-TravelNotesImgDiv">
                        <img class="d-TravelNotesImg" src="../../asset/设计图/view2.jpg">
                    </div>
                    <div class="d-TravellerMessage">
                        <img class="d-T-TypeImg" src="../../asset/设计图/亲子.jpg">
                        <ul>
                            <li class="d-T-Place">place</li>
                            <li>date</li>
                            <li>time</li>
                            <li><img class="d-T-Eyes" src="../../asset/设计图/eyes.png"> </li>
                            <li class="d-T-ViewCount">count</li>
                        </ul>
                    </div>
                    <div class="d-Describe">
                        <p class="d-D-Title"><a href="javascript:void(0)">title</a> </p>
                        <p class="d-D-Describe">觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游</p>
                    </div>
                </div>
                <div class="details">
                    <div class="d-TravelNotesImgDiv">
                        <img class="d-TravelNotesImg" src="../../asset/设计图/view2.jpg">
                    </div>
                    <div class="d-TravellerMessage">
                        <img class="d-T-TypeImg" src="../../asset/设计图/亲子.jpg">
                        <ul>
                            <li class="d-T-Place">place</li>
                            <li>date</li>
                            <li>time</li>
                            <li><img class="d-T-Eyes" src="../../asset/设计图/eyes.png"> </li>
                            <li class="d-T-ViewCount">count</li>
                        </ul>
                    </div>
                    <div class="d-Describe">
                        <p class="d-D-Title"><a href="javascript:void(0)">title</a> </p>
                        <p class="d-D-Describe">觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游</p>
                    </div>
                </div>
                <div class="details">
                    <div class="d-TravelNotesImgDiv">
                        <img class="d-TravelNotesImg" src="../../asset/设计图/view2.jpg">
                    </div>
                    <div class="d-TravellerMessage">
                        <img class="d-T-TypeImg" src="../../asset/设计图/亲子.jpg">
                        <ul>
                            <li class="d-T-Place">place</li>
                            <li>date</li>
                            <li>time</li>
                            <li><img class="d-T-Eyes" src="../../asset/设计图/eyes.png"> </li>
                            <li class="d-T-ViewCount">count</li>
                        </ul>
                    </div>
                    <div class="d-Describe">
                        <p class="d-D-Title"><a href="javascript:void(0)">title</a> </p>
                        <p class="d-D-Describe">觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游觅游</p>
                    </div>
                </div>
            </div>
            <div class="btndiv">
                <button class="b-C-btn">加载更多</button>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="f-Companyinformation">
            <div class="companyinformation1">
                <ul>
                    <li><a href="javacript:void(0)">关于我们</a></li>
                    <li><a href="javacript:void(0)">免责条款</a></li>
                    <li><a href="javacript:void(0)">加入我们</a></li>
                    <li><a href="javacript:void(0)">联系我们</a></li>
                </ul>
                <img class="f-Logo" src="../../asset/logo/觅游logo.png">
            </div>
            <div class="companyinformation2">
                <img src="../../asset/logo/微信.png" alt="微信">
                <img src="../../asset/logo/微博.png" alt="微博">
                <img src="../../asset/logo/QQ.png" alt="QQ">
                <img src="../../asset/logo/豆瓣.png" alt="豆瓣">
                <p>©2015 MeetYou.cn  京ICP证备 12051592号-1</p>
            </div>
        </div>
        <div class="f-Partner">
            <div class="f-Partnerdiv">
                <p class="f-P-Title">合作伙伴</p>
                <div class="f-P-details">
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                    <p>合作伙伴</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>